.menu_nav {
    background-color: #1a3b70;
    height: 50px;
}

.title {
    background-color: #ffffff;
    height: 50px;
    padding-top: 1rem;
}

.a_menu_nav {
    color: #ffffff;
}

.vr_nav {
    background-color: #ffffff;
    width: 2px;
    height: 30px;
    margin-top: 5px;
}

.menu_icon {
    color: white;
}

.right_ul_nav {
    padding-left: 1rem;
}

.left_ul_nav {
    padding-left: 10rem;
}

.GDM {
    width: 40rem;
    height: 4rem;
    line-height: 1rem;
    /*padding-left: 13rem;*/
}

.side_left {
    font-size: 1rem;
    line-height: 4rem;
    align-self: center;
    /*  padding-left: 15rem;*/
}

.side_right {
    font-size: 1rem;
    line-height: 4rem;
    align-self: center;
    /* padding-left: 10rem;*/
}

.header {
    height: 50px;
    margin-top: 3rem;
}

.header_items {
    padding-top: .6rem;
}

.body_page {
    padding-top: 2rem;
}

.border_body {
    background: #1a3b70;
    height: .2rem;
}

.p_body {
    color: #1a3b70;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.title_body {
    color: black;
    font-family: "Noto Serif", serif;
    font-weight: bold;
}

.space {
    height: 1.3rem;
}

.right_border {
    border-right-style: solid;
    border-right-color: lightgray;
}

.horizontal_divider {
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.three_elements {
    padding-top: 3rem;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.space_guide {
    height: 3rem;
}

.guide {
    background: #ecf7fb;
}

.esclusive {
    background: #f4f2e8;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover {
    color: #1a3b70;
}

.video {
    background: #040D22;
}

.p_video {
    color: white;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.rounded_bottom {
    border-style: solid;
    border-color: lightgray;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.button_necrologio {
    background-color: #2D3342;
    color: white;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5rem;
    text-align: center;
    padding-top: 0.6rem;
    height: 3rem;
}

.scroll_necrologi {
    height: 30rem;
}

.title_necrologi {
    color: #464E62;
    font-weight: bold;
}

.annunci_bg {
    background-color: #27787C;
    opacity: 70%;
}

.space_annunci {
    height: .5rem;
}

.p_annunci_title {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#annunci_title {
    font-size: 1.5rem;
}

.p_annunci {
    color: #464E62;
    font-size: 1.5rem;
}

#annunci_little {
    font-size: 1rem;
}

#cerca_casa {
    color: #27787C;
    opacity: 70%;
    font-weight: bold;
}

.cerca {
    background-color: #2D3342;
    color: white;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5rem;
    text-align: center;
    padding-top: 0.6rem;
    height: 3rem;
}

.pubblica_annuncio {
    background-color: #27787C;
    opacity: 70%;
    color: white;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5rem;
    text-align: center;
    padding-top: 0.6rem;
    height: 3rem;
}

.aste_bg {
    background-color: darkorange;
    opacity: 70%;
}

.p_aste_title{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.p_aste{
    color: #464E62;
    font-size: 1rem;
}

.footer{
    background-color: #040D22;
}

.p_footer{
    color: white;
    font-size: 1rem;
    font-family: "Noto Serif", serif;
}